.formData{
    height: 50rem;
    width: 100rem;
    background: green;
    color: red;
}

.images{
    height: 50rem;
    width: 40rem;
    background:black;
    color: red;
}
.main{
    /* display: flex; */
    position: absolute;
    top:10%;
    left:10%;
    width: 40rem;
    height: 60rem;
    background: red;
    margin: auto;
}
.main .formitem{
   /* display: flex; */
    
    /* left:50%; */ 

    background: yellow;
    position: relative;
    top:10%;
/* left: 10%; */
    /* align-items: center;
    justify-content: center; */
    margin: auto;

}